/*.brdr{
    border:1px solid red;
}*/
body{
    background-image:url(/static/images/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
 
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
 
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c60505;
  }
  #lblCartCount {
    font-size: 14px;
    background: #c60505;
    color: #fff;
    padding: 0 5px;
    height: 15px;
    vertical-align: top;
}
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url(/static/images/preloader.gif) no-repeat center center;
  }
.container-fluid{
    height:100%;
    width:100%;
    display: grid;
}
.mod{
    color: black !important;;
    font-size:20px !important;
    font-weight:500 !important;
}
/* bounce animation */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
/* ------------------------------------------------------------------------------------------------------------*/
/* Navbar and Footer */
.logo{
    height:40px;
    width:40px;
    border-radius:50%;
}
.nbo{
    margin-right:1vw;
} 
.nb{
    background-color: rgba(0,0,0,0.7)!important;
    z-index:100;
    font-size:18px;
    color:white;
}

.nbt{
    position: fixed;
    background-color: rgba(0,0,0,0.7)!important;
    font-size:18px;
    color:white;
    bottom:0;
    right:0;
    left:0;
}
.title{
    font-size:28px !important;
    position: relative;
    font-family:Roboto;
    color:white;
    text-decoration: none;
    left:41%;
    margin-top:0.5vw;
}
a.abs{
    text-decoration: none;
    color:orange;
    font-size:18px;
    font-family:Roboto;
}
a.ft{
    color:white;
    text-decoration:none;
    outline: none;
}
.nt{
    font-size:18px;
}
.nt i{
    transition: 0.3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    cursor:pointer;
}
.nt i:hover{
    animation-name: bounce;
    transform: scale(1.03);
}
/* -------------------------------------------------------------------------------------------------------------*/
/* Food Carousel */
.fcar{
    margin-top: 8vw;
}

.carousel{
    height:25vw;
    width:50vw;
    left:-2.2%;
    cursor:pointer;
    border-radius: 5px;
    background:#000;
    box-shadow: 4px 6px 4px 1px black;

}
.carousel img{
    height:25vw;
    width:50vw;
    border-radius: 5px;
}
.carousel img:hover{
    opacity:0.5;
}
h5{
    color:white;
    font-weight: bolder;
    font-size:35px;
    visibility: hidden;
}
p{
    color:white;
    font-weight:bolder;
    font-size:18px;
    visibility: hidden;
}
.carousel:hover p{
    visibility: visible;
}
.carousel:hover h5{
    visibility: visible;
}

/* Carousel side cards */
.lcard{
    position: absolute;
    left:17%;
    height:25vw;
    width:18vw;
    border:1px solid black;
    border-radius:5px;
    background-color: white;
    box-shadow: 4px 8px 4px 1px black;
}
.lcard img{
    height:25vw;
    width:18vw;
    border-radius: 5px;
}
.lcard:hover{
    transform: scale(1.03);
    transition: 0.3s ease-in;
    transition:0.5s ease-out;
}
.rcard{
    position: absolute;
    left:10%;
    height:25vw;
    width:18vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 8px 4px 1px black;
}
.rcard img{
    height:25vw;
    width:18vw;
    border-radius: 5px;
}
.rcard:hover{
    transform: scale(1.03);
    transition: 0.3s ease-in;
    transition:0.5s ease-out;
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Search Bar */
.search{
    outline: none;
    background: none;
    border: none;
    margin-left: auto;
    width:100%;
    text-decoration: none;
    text-align:center;
    margin:0.6vw;
    line-height: 2vw;
    font-size:20px;
}
::-webkit-input-placeholder {
    font-size:20px;
}

::-ms-input-placeholder {
    color: black;
}

::-moz-input-placeholder {
    color: black;
}
.search_bar{
    position: absolute;
    top:6.5vw;
    left:3%;
    background-color:whitesmoke;
    color:black;
    height:3.5vw;
    width:92vw;
    border:1px solid #001122;
    border-radius: 5vw;
    cursor: pointer;
}
.search_btn{
    position: relative;
    left:0.65vw;
    top:-2.9vw;
    font-size:18px;
    cursor: pointer;
    color:black;
    border-radius: 50%;
    background: #654321; /* #142850;*/
    color: white;
    height:2.5vw;
    width:2.5vw;
    outline:none;
    text-decoration: none;
}
.search_btn:hover {
    background: #966F22;/* #3263d4;*/
    color: white;
    text-decoration: none;
}
.search_btn i{
    transition: 0.3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.search_btn i:hover{
    animation-name: bounce;
    transform: scale(1.03);
}
/* ------------------------------------------------------------------------------------------------------------*/
/* Mid Text */
.mt{
    margin-top:3vw;
    
}
.type{
    position: relative;
    left:2.5%;
    border-bottom:2px solid whitesmoke;
    width:95%;
    color:white;
    font-size:30px;
}
/* -------------------------------------------------------------------------------------------------------------*/
/* bottom cards */
.card{
    height:23vw;
    width:18vw;
    margin-top:2vw;
    margin-left:2.5vw;
    cursor:pointer;
    box-shadow: 4px 8px 4px 1px black;
}
.card:hover{
    transform: scale(1.03);
    transition: 0.2s ease-in;
    transition:0.2s ease-out;
}
.c1{
    margin-left:3.5vw;
}
.c4{
    margin-left:1.5vw;
}
.food-item{
    height:10vw;
    width:17.9vw;
    border-radius:2px;
}
.food-title{
    text-align: center;
    font-size:20px;
    margin-top:0.5vw;
}
.food-des{
    text-align: center;
    margin-top:0.5vw;
    font-size:15px;
}
.checked{
    color:orange;
    cursor:pointer;
}
.rating{
    text-align: center;
    margin-top:0.5vw;
}
.ac{
    margin-top:1vw;
    margin-left:4vw;
    width:10vw;
    justify-content: center;
    align-content: center;
    align-items:center;
    color:white;
    border-radius:3px;
    outline:none;
    text-decoration: none;
}

.bt
{
    margin-left:6vw;
    margin-top:1vw;
}


/* Media Query */

@media (max-width:425px){

    .logo{
        height:40px;
        width:40px;
        border-radius: 50%;
    }
    .nb{
        background-color: #000 !important;
        opacity: 1;
        font-size:18px;
        z-index:10000 !important;
    }
    .nbt{
        background-color: #000 !important;
        opacity:1;
        font-size:18px;
        z-index:10000 !important;
        bottom:0;
    }
    .nt{
        font-size: 14px;
    }
    a.abs{
        font-size:14px;
    }
    .title{
        position: relative;
        left:1vw;
        font-size: 25px;
    }
    .ico{
        font-size:18px;
    }
    .sign{
        position: relative;
        margin-top:7vw;
        margin-right:2vw;
        font-size: 14px;
    }
    .pad{
        padding:20%;
    }
}

@media(max-width:385px){
    .nt{
        font-size:11.7px;
        margin-left:2vw;
    }
    a.abs{
        font-size:11.7px;
    }
}


@media(max-width:365px){
    .nt{
        font-size:12px;
        margin-left:2vw;
    }
    a.abs{
        font-size:12px;
    }
}
@media(max-width:325px){
    a.title{
        font-size:10px;
    }
}
@media(max-width:335px){
    .nt{
        font-size:10.5px;
        margin-left:2vw;
    }
    a.abs{
        font-size:10.5px;
    }
}

/* Desktop view bigger resolutions */

@media(min-width:1550px)
{
    .card{
        height:22vw;
    }
}
@media(min-width:1695px)
{
    .card{
        height:22vw;
    }
    .food-des{
        font-size:21px;
    }
}