{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error404!</title>
    <link rel="icon" href="{% static 'images/log.png' %}"  type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/error.css' %}">
</head>
<body>
    <div id="notfound">
        <div class="notfound">
          <div class="notfound-404">
            <h1>404</h1>
            <h2>Page not found</h2>
          </div>
          <a href="#">Report</a>
          <a href="{% url 'main-home' %}">Homepage</a>
        </div>
      </div>
    
</body>
</html>

